@model IEnumerable<UniEBoard.Service.Models.ModuleViewModel>
@if (Request.IsAuthenticated)
{
    <form class="custom">
        
        <table class="full responsive grid tableRowDnD" id="moduleList"  data-source=@Url.Action("UpdateOrder") data-type="modules">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Course</th>
                    <th class="ar">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr  id="@obj.Id" data-sortOrder="@obj.SortOrder">
                        <td>
                            <input type="text" id="Title_@obj.Id" name="Title_@obj.Id" value="@obj.Title" data-moduleId="@obj.Id" />
                        </td>
                        <td>
                            
                            <textarea class="resize" rows="1" data-val="true" data-val-required="The Description field is required." id="Description_@obj.Id" name="Description_@obj.Id" data-moduleid="@obj.Id" placeholder="Enter Description..." required="required">@obj.Description</textarea>

                        </td>
                        <td class="tags">
                            <div class="tags" id="courseTags_@obj.Id">
                                @Html.Partial("_CourseModuleTagPartial", obj.CourseModules, new ViewDataDictionary { { "UserIdentifier", obj.Id } })

                            </div>
                            <input type="text" id="Course_@obj.Id" name="Course_@obj.Id" class="autocomplete" data-moduleid="@obj.Id" data-source="@Url.Action("AutoCompleteCourses", "Teacher")" data-callback-controller="@Url.Action("AddCourseToModule", "Teacher")" data-callback="AddCourseToModule" data-callback-target-id="courseTags_@obj.Id" />

                        </td>
                        <td class="ar">
                             <a target="_self" href='@Url.Action("RemoveModule", "Teacher", new { moduleId = obj.Id })' onclick="return confirm('Are you sure you wish to delete this item?');"><i
                                class="icon-remove"></i></a> 
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
	</form>
}