@model UniEBoard.Service.Models.Quizzes.QuestionViewModel

@section firstNavigationElement {
    @Html.Partial("_LogoutPartial")
}

@section navigationalElements {
    @Html.Partial("_TeacherNavigationalElementsPartial")
}

<!-- Begin Alerts & Intro -->

    <div class="row">
        <div class="large-12 medium-12 columns">
            <ul class="breadcrumbs">
                <li>@Html.ActionLink("My Dashboard", "Index", "Teacher")</li>
                <li>@Html.ActionLink("Quizzes", "Quizzes", "Teacher")</li>
                <li>@Html.ActionLink("Questions", "QuizQuestions", "Teacher", new { quizId = ViewData["QuizId"] }, new { })</li>
                <li class="current">@Html.ActionLink("Edit Question", "QuizQuestionEdit", "Teacher", new { questionId = Model.Id }, new { })</li>
            </ul>
        </div>
    </div>
    
	<!-- End Begin Alerts & Intro -->


	<!-- Begin Schedule -->
	<div class="row">
        <div class="large-12 medium-12 columns">
            <!-- Begin Add Users -->
            <h2>Questions<small> / Edit Question</small></h2>

            @using (Html.BeginForm("EditQuizQuestion", "Teacher", FormMethod.Post, new { @class = "custom" }))
            {
                <div id="validation"></div>
                @Html.Partial("_QuizQuestionFormPartial", Model)
            }
            @*Html.Partial("_DisplayPageViewAllPartial", (UniEBoard.Service.Models.PageViewAllFilterViewModel)ViewData["Pager"])*@
        </div>

	</div>
	<!-- End Body -->

	
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>$("#AddNew").toggleClass("hide");</script>
}
