@model IEnumerable<UniEBoard.Service.Models.Quizzes.QuizzesViewModel>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section firstNavigationElement { @Html.Partial("_LogoutPartial") }
@section navigationalElements { @Html.Partial("_StudentNavigationalElementsPartial") }
@section ajax{ @Html.Partial("_QuizzesAjax") }

@if (Model != null)
{
    foreach (var item in Model) { @Html.Partial("_QuizzesModal", item) }
} 

@if (Model != null)
{
    <div class="row">
        <div class="large-12 medium-12 columns">
            @Html.Partial("_CourseBreadcrumbsPartial", ViewData["CourseModel"])
            <a class="tm-35 small success radius button right edit-view">Edit Page</a>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="large-3 medium-3 columns">
            @Html.Partial("_MenuLeftCoursePartial", ViewData["CourseModel"])
        </div>
        <div class="large-9 medium-9 columns">
            @foreach (var item in Model)
            { @Html.Partial("_QuizzesListItem", item) }
        </div>
    </div>
}