@model UniEBoard.Service.Models.StudentViewModel
@{
    ViewBag.Title = "My DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section firstNavigationElement {
    @Html.Partial("_LogoutPartial")
}

@section navigationalElements {
    @Html.Partial("_StudentNavigationalElementsPartial")
}

@section ajax{ @Html.Partial("../Course/_QuizzesAjax") }

	<div class="row">
		<div class="large-12 medium-12 columns">
            @if (ViewBag.Messages != null)
            {
                @*@Html.Partial("_StudentMessagePartial", (List<UniEBoard.Service.Models.MessageViewModel>)ViewBag.Messages)*@
            }
            <ul class="breadcrumbs">
                <li class="current"><a href="#">@ViewBag.Title</a></li>
            </ul>
		</div>
	</div>
    
<!--HTML Demo code START-->
<div class="row">
    <div class="large-8 medium-8 columns">
        <!-- Schedule -->
        @Html.Partial("_DashboardSchedulePartial", ViewData["Units"])
        <!-- Message / Announcement -->
        <div id="divMessage">
            @{Html.RenderAction("Index", "Message");}
        </div>

    </div>
    <div class="large-4 medium-4 columns">
        <div class="panel radius dashboard-alert-wrapper" id="dashboard">
            <div class="user">
                <div class="avatar">
                    <img src="/images/person.png" alt="@Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)">
                </div>
                <div class="name">
                    @Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)
                </div>
            </div>
            @Html.Partial("_NotificationsPartial", ViewData["Messages"])

        </div>
        @Html.Partial("_OnlineUsersPartial", ViewData["OnlineUsers"])
    </div>
</div>

<!--HTML Demo code END-->

