@model UniEBoard.Models.UserModel
@{
    ViewBag.Title = "ForgetPassword";
}
<div class="row">
    <div class="large-4 medium-4 columns schedule">
        &nbsp;
    </div>
    <div class="large-4 medium-4 columns schedule">
        <h3>
            Forget Password
        </h3>
        @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post))
        {
            <p class="message-success">@ViewBag.StatusMessage</p>
            @Html.AntiForgeryToken();
            @Html.ValidationSummary(true);

            <div class="panel" @(@Convert.ToBoolean(ViewBag.EmailSend) ? "style=display:none;" : "")>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "Type your username" })
                @Html.ValidationMessageFor(m => m.UserName)
                <input type="submit" value="Submit" class="small success radius button" />
                <br />
            </div>
        }
    </div>
    <div class="large-4 medium-4 columns schedule">
        &nbsp;
    </div>
</div>
