@model UniEBoard.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    
}
<div class="row">
    <div class="large-4 medium-4 columns schedule">
        &nbsp;
    </div>
    <div class="large-4 medium-4 columns schedule">
        <h3>
            Reset Password
        </h3>
        @using (Html.BeginForm("ResetPassword", "Account"))
        {
            <p class="message-success">@ViewBag.StatusMessage</p>
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <div class="panel" @(@Convert.ToBoolean(ViewBag.URLExpires) ? "style=display:none;" : "")>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                <input type="submit" value="Change Password" class="small success radius button" />
            </div>
        }
    </div>
    <div class="large-4 medium-4 columns schedule">
        &nbsp;
    </div>
</div>
