@model UniEBoard.Service.Models.TaskViewModel
@if (Request.IsAuthenticated)
{
<!-- Begin Add Task -->
    
    
    using (Ajax.BeginForm("AddTask", "Task", null, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "tasks", InsertionMode = InsertionMode.Replace, OnBegin = "validateForm", OnSuccess = "ResetAddTaskForm" }, new { id = "addTaskForm" }))
    {
        
        
        <h5 class="tm-25">New Task</h5>
        @*@Html.ValidationSummary(false)
    @*
        if (!ViewData.ModelState.IsValid) 
        { 
        <div class="validation-summary-errors">
            <ul class="no-bullet">
                @foreach (ModelState modelState in ViewData.ModelState.Values)
                {
                    foreach (ModelError modelError in modelState.Errors)
                    {
                        <li>@modelError.ErrorMessage</li>
                    }
                }
                    
            </ul>
        </div>
        }
        *@
        <hr/>
        @Html.LabelFor(m => m.Title, new { @class="hide" })
        @Html.TextBoxFor(m => m.Title, new { required = "required", placeholder = "Type your task title here" })  
        //@Html.ValidationMessageFor(m => m.Title)

        @Html.LabelFor(m => m.Note, new { @class = "hide" })
        @Html.TextAreaFor(m => m.Note, new { required = "required", placeholder = "Type your task notes here" })  
        //@Html.ValidationMessageFor(m => m.Note)
        
        @Html.LabelFor(m => m.Deadline, new { @class = "hide" })
        @Html.TextBoxFor(m => m.Deadline, new { required = "required", placeholder = "Select the deadline date", @class = "datetimepicker" }) 
        @*
        <input class="text-box single-line valid datetimepicker" data-val="true" 
                                id="Deadline" name="Deadline" type="datetime" placeholder="Select the deadline date"
                                value="" />
            *@
        @*@Html.ValidationMessageFor(m => m.Deadline)*@

        <input type="submit" value="Create Task" class="tiny right radius button"/>
    
	    <div id="myNotes" class="reveal-modal">
            <h2>Added!</h2>
            <p class="lead">Your task has been added!</p>
            <a class="close-reveal-modal">&#215;</a>
		</div>
    }
    
<!-- End Add Task -->
}